openapi: 3.0.3
info:
  title: Otel Yönetim ve Rezervasyon API'si
  version: 1.0.0
  description: >
    Bu API, otel odalarının, müşterilerin ve rezervasyonların yönetilmesi için
    tasarlanmış bir RESTful servistir. Temel CRUD (Create, Read, Update, Delete)
    işlemlerini destekler. API, oda, müşteri ve rezervasyon bilgilerinin
    oluşturulması, görüntülenmesi, güncellenmesi ve silinmesini sağlar.
  contact:
    name: Şahin Üçar
    email: sahinucar@example.com

servers:
  - url: https://api.hotelapp.com
    description: Üretim sunucusu (Production)
  - url: https://staging-api.hotelapp.com
    description: Test sunucusu (Staging)
  - url: https://localhost:3000
    description: Yerel geliştirme sunucusu (Development)

tags:
  - name: Odalar
    description: Oda oluşturma, listeleme, güncelleme ve silme işlemleri
  - name: Müşteriler
    description: Müşteri oluşturma, listeleme, güncelleme ve silme işlemleri
  - name: Rezervasyonlar
    description: Rezervasyon oluşturma, listeleme, güncelleme ve silme işlemleri

security:
  - BearerAuth: []

paths:
  /api/rooms:
    post:
      tags:
        - Odalar
      summary: Oda Ekle
      operationId: addRoom
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoomInput'
      responses:
        "201":
          description: Oda başarıyla oluşturuldu
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Room'
        "400":
          description: Geçersiz istek verisi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Kimlik doğrulama başarısız
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Bu işlem için yetkiniz bulunmuyor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    get:
      tags:
        - Odalar
      summary: Oda Listesini Getir
      operationId: listRooms
      parameters:
        - name: type
          in: query
          required: false
          description: Oda tipi filtresi
          schema:
            type: string
          example: "Deluxe"
        - name: status
          in: query
          required: false
          description: Oda durumu filtresi
          schema:
            type: string
            enum: [available, occupied, maintenance]
          example: "available"
        - name: page
          in: query
          required: false
          description: Sayfa numarası
          schema:
            type: integer
            minimum: 1
            default: 1
          example: 1
        - name: limit
          in: query
          required: false
          description: Sayfa başına sonuç sayısı
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
          example: 10
      responses:
        "200":
          description: Oda listesi başarıyla getirildi
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Room'
        "401":
          description: Kimlik doğrulama başarısız
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/rooms/{roomid}:
    parameters:
      - name: roomid
        in: path
        required: true
        description: Odanın benzersiz kimlik numarası
        schema:
          type: string
        example: "room123"

    get:
      tags:
        - Odalar
      summary: Oda Getir
      operationId: getRoom
      responses:
        "200":
          description: Oda başarıyla getirildi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Room'
        "401":
          description: Kimlik doğrulama başarısız
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Oda bulunamadı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    put:
      tags:
        - Odalar
      summary: Oda Güncelle
      operationId: updateRoom
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoomInput'
      responses:
        "200":
          description: Oda başarıyla güncellendi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Room'
        "400":
          description: Geçersiz istek verisi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Kimlik doğrulama başarısız
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Bu işlem için yetkiniz bulunmuyor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Oda bulunamadı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      tags:
        - Odalar
      summary: Oda Sil
      operationId: deleteRoom
      responses:
        "204":
          description: Oda başarıyla silindi
        "401":
          description: Kimlik doğrulama başarısız
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Bu işlem için yetkiniz bulunmuyor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Oda bulunamadı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/customers:
    post:
      tags:
        - Müşteriler
      summary: Müşteri Ekle
      operationId: addCustomer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerInput'
      responses:
        "201":
          description: Müşteri başarıyla oluşturuldu
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        "400":
          description: Geçersiz istek verisi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Kimlik doğrulama başarısız
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Bu işlem için yetkiniz bulunmuyor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    get:
      tags:
        - Müşteriler
      summary: Müşteri Listesini Getir
      operationId: listCustomers
      parameters:
        - name: page
          in: query
          required: false
          description: Sayfa numarası
          schema:
            type: integer
            minimum: 1
            default: 1
          example: 1
        - name: limit
          in: query
          required: false
          description: Sayfa başına sonuç sayısı
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
          example: 10
      responses:
        "200":
          description: Müşteri listesi başarıyla getirildi
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Customer'
        "401":
          description: Kimlik doğrulama başarısız
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/customers/{customerid}:
    parameters:
      - name: customerid
        in: path
        required: true
        description: Müşterinin benzersiz kimlik numarası
        schema:
          type: string
        example: "cust123"

    get:
      tags:
        - Müşteriler
      summary: Müşteri Getir
      operationId: getCustomer
      responses:
        "200":
          description: Müşteri başarıyla getirildi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        "401":
          description: Kimlik doğrulama başarısız
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Müşteri bulunamadı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    put:
      tags:
        - Müşteriler
      summary: Müşteri Güncelle
      operationId: updateCustomer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerInput'
      responses:
        "200":
          description: Müşteri başarıyla güncellendi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        "400":
          description: Geçersiz istek verisi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Kimlik doğrulama başarısız
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Bu işlem için yetkiniz bulunmuyor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Müşteri bulunamadı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      tags:
        - Müşteriler
      summary: Müşteri Sil
      operationId: deleteCustomer
      responses:
        "204":
          description: Müşteri başarıyla silindi
        "401":
          description: Kimlik doğrulama başarısız
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Bu işlem için yetkiniz bulunmuyor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Müşteri bulunamadı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/reservations:
    post:
      tags:
        - Rezervasyonlar
      summary: Rezervasyon Ekle
      operationId: addReservation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationInput'
      responses:
        "201":
          description: Rezervasyon başarıyla oluşturuldu
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reservation'
        "400":
          description: Geçersiz istek verisi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Kimlik doğrulama başarısız
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Bu işlem için yetkiniz bulunmuyor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    get:
      tags:
        - Rezervasyonlar
      summary: Rezervasyon Listesini Getir
      operationId: listReservations
      parameters:
        - name: status
          in: query
          required: false
          description: Rezervasyon durumu filtresi
          schema:
            type: string
            enum: [pending, confirmed, cancelled, completed]
          example: "confirmed"
        - name: page
          in: query
          required: false
          description: Sayfa numarası
          schema:
            type: integer
            minimum: 1
            default: 1
          example: 1
        - name: limit
          in: query
          required: false
          description: Sayfa başına sonuç sayısı
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
          example: 10
      responses:
        "200":
          description: Rezervasyon listesi başarıyla getirildi
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Reservation'
        "401":
          description: Kimlik doğrulama başarısız
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/reservations/{reservationid}:
    parameters:
      - name: reservationid
        in: path
        required: true
        description: Rezervasyonun benzersiz kimlik numarası
        schema:
          type: string
        example: "res123"

    get:
      tags:
        - Rezervasyonlar
      summary: Rezervasyon Getir
      operationId: getReservation
      responses:
        "200":
          description: Rezervasyon başarıyla getirildi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reservation'
        "401":
          description: Kimlik doğrulama başarısız
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Rezervasyon bulunamadı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    put:
      tags:
        - Rezervasyonlar
      summary: Rezervasyon Güncelle
      operationId: updateReservation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationInput'
      responses:
        "200":
          description: Rezervasyon başarıyla güncellendi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reservation'
        "400":
          description: Geçersiz istek verisi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Kimlik doğrulama başarısız
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Bu işlem için yetkiniz bulunmuyor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Rezervasyon bulunamadı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      tags:
        - Rezervasyonlar
      summary: Rezervasyon Sil
      operationId: deleteReservation
      responses:
        "204":
          description: Rezervasyon başarıyla silindi
        "401":
          description: Kimlik doğrulama başarısız
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Bu işlem için yetkiniz bulunmuyor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Rezervasyon bulunamadı
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    BearerAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'JWT tabanlı kimlik doğrulama. İstek başlığına "Authorization: Bearer <token>" eklenmelidir.'

  schemas:
    Room:
      type: object
      description: Oda bilgilerini temsil eden model
      properties:
        _id:
          type: string
          description: Odanın benzersiz kimlik numarası
          example: "room123"
        roomNumber:
          type: string
          description: Oda numarası
          example: "101"
        type:
          type: string
          description: Oda tipi
          example: "Deluxe"
        price:
          type: number
          format: float
          description: Oda fiyatı
          example: 2500.00
        status:
          type: string
          description: Oda durumu
          enum: [available, occupied, maintenance]
          example: "available"
        capacity:
          type: integer
          description: Oda kapasitesi
          example: 2
      required:
        - roomNumber
        - type
        - price
        - status
        - capacity

    RoomInput:
      type: object
      description: Oda oluşturma veya güncelleme isteği için gönderilecek veri
      properties:
        roomNumber:
          type: string
          description: Oda numarası
          minLength: 1
          maxLength: 10
          example: "101"
        type:
          type: string
          description: Oda tipi
          example: "Deluxe"
        price:
          type: number
          format: float
          description: Oda fiyatı
          minimum: 0
          example: 2500.00
        status:
          type: string
          description: Oda durumu
          enum: [available, occupied, maintenance]
          example: "available"
        capacity:
          type: integer
          description: Oda kapasitesi
          minimum: 1
          example: 2
      required:
        - roomNumber
        - type
        - price
        - status
        - capacity

    Customer:
      type: object
      description: Müşteri bilgilerini temsil eden model
      properties:
        _id:
          type: string
          description: Müşterinin benzersiz kimlik numarası
          example: "cust123"
        firstName:
          type: string
          description: Müşterinin adı
          example: "Şahin"
        lastName:
          type: string
          description: Müşterinin soyadı
          example: "Üçar"
        phone:
          type: string
          description: Telefon numarası
          example: "+905555555555"
        email:
          type: string
          description: E-posta adresi
          example: "sahin@example.com"
        identityNumber:
          type: string
          description: Kimlik numarası
          example: "12345678901"
      required:
        - firstName
        - lastName
        - phone
        - email

    CustomerInput:
      type: object
      description: Müşteri oluşturma veya güncelleme isteği için gönderilecek veri
      properties:
        firstName:
          type: string
          description: Müşterinin adı
          minLength: 2
          maxLength: 50
          example: "Şahin"
        lastName:
          type: string
          description: Müşterinin soyadı
          minLength: 2
          maxLength: 50
          example: "Üçar"
        phone:
          type: string
          description: Telefon numarası
          example: "+905555555555"
        email:
          type: string
          description: E-posta adresi
          example: "sahin@example.com"
        identityNumber:
          type: string
          description: Kimlik numarası
          example: "12345678901"
      required:
        - firstName
        - lastName
        - phone
        - email

    Reservation:
      type: object
      description: Rezervasyon bilgilerini temsil eden model
      properties:
        _id:
          type: string
          description: Rezervasyonun benzersiz kimlik numarası
          example: "res123"
        customerId:
          type: string
          description: Rezervasyonu yapan müşterinin kimliği
          example: "cust123"
        roomId:
          type: string
          description: Rezervasyon yapılan odanın kimliği
          example: "room123"
        checkInDate:
          type: string
          format: date
          description: Giriş tarihi
          example: "2026-03-10"
        checkOutDate:
          type: string
          format: date
          description: Çıkış tarihi
          example: "2026-03-15"
        status:
          type: string
          description: Rezervasyon durumu
          enum: [pending, confirmed, cancelled, completed]
          example: "confirmed"
        totalPrice:
          type: number
          format: float
          description: Toplam rezervasyon tutarı
          example: 12500.00
      required:
        - customerId
        - roomId
        - checkInDate
        - checkOutDate
        - status
        - totalPrice

    ReservationInput:
      type: object
      description: Rezervasyon oluşturma veya güncelleme isteği için gönderilecek veri
      properties:
        customerId:
          type: string
          description: Rezervasyonu yapan müşterinin kimliği
          example: "cust123"
        roomId:
          type: string
          description: Rezervasyon yapılan odanın kimliği
          example: "room123"
        checkInDate:
          type: string
          format: date
          description: Giriş tarihi
          example: "2026-03-10"
        checkOutDate:
          type: string
          format: date
          description: Çıkış tarihi
          example: "2026-03-15"
        status:
          type: string
          description: Rezervasyon durumu
          enum: [pending, confirmed, cancelled, completed]
          example: "confirmed"
        totalPrice:
          type: number
          format: float
          description: Toplam rezervasyon tutarı
          example: 12500.00
      required:
        - customerId
        - roomId
        - checkInDate
        - checkOutDate
        - status
        - totalPrice

    Error:
      type: object
      description: Hata durumlarında döndürülen standart hata yanıtı
      properties:
        message:
          type: string
          description: Hatayı açıklayan mesaj
          example: "Kayıt bulunamadı"
      required:
        - message
